body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #222222;
}

a:hover {
    text-decoration: underline;
}

.flex,
.row {
    display: flex;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    flex: 1;
    padding: 10px;
}

.box {
    background: #e3e3e3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*line-height: 100px;
    text-align: center;*/
}

.section {
    padding: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
