header {
    background-image: linear-gradient(to right, #a25b5b, #692e4c);
    /*padding: 2.5em;*/
}

header h1 {
    margin-top: 0;
    font-size: 1.6em;
}

.header-top {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: white;
    padding-bottom: 50px;
}

.header-top a {
    color: inherit;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: center;
}

nav > a{
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
}
